@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-light: #f8f8f8;
$text-dark: #1e1e1e;
$white: #ffffff;
$radius: 20px;
$font-poppins: 'Poppins', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    padding-inline: 10px;
    background-color: #eee;
}

.featured-collection {
    display: grid;
    gap: 15px;
    max-width: 1920px;
    margin: 0 auto;
    grid-template-columns: 1fr;

    .hero-card,
    .features-card,
    .cta-card {
        background: $white;
        border-radius: $radius;
        overflow: hidden;
        position: relative;

        .badge {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 142%;
            position: absolute;
            left: 33px;
            top: 29px;
            color: $text-dark;
            opacity: 0.4;
            font-size: 14px;

            @media screen and (min-width: 1024px) {
                font-size: 15px;
                top: 40px;
                left: 40px;
            }
        }
    }

    .hero-card {
        height: 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .hero-content {
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: $white;

            @media screen and (min-width: 1024px) {
                bottom: 97px;
                left: 30px;
            }

            span {
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0px;
                font-family: 'Poppins';

                @media screen and (min-width: 1024px) {
                    font-size: 31px;
                    font-weight: 500;
                    letter-spacing: 0px;
                }
            }

            h1 {
                // leading-trim: both;
                // text-edge: cap;
                font-feature-settings: 'ss01' on;
                font-family: "Be Vietnam Pro";
                font-size: 80px;
                font-style: normal;
                font-weight: 600;
                line-height: 54px;
                letter-spacing: 0px;
                font-family: 'Poppins';
                margin-top: 15px;

                @media screen and (min-width: 1024px) {
                    font-size: 150px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0px;
                    margin-top: 64px;
                }
            }
        }
    }

    .features-card {
        padding: 30px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: "Poppins";
            font-size: 21px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -0.66px;
            color: $text-dark;
            max-width: 330px;
            text-align: center;
            margin-bottom: 26px;

            @media screen and (min-width: 1024px) {
                max-width: 544px;
                font-size: 31px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -0.93px;
                margin-bottom: 85px;
            }
        }

        .features-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .feature-item {
                display: flex;
                align-items: center;
                gap: 86px;
                text-align: left;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;

                span {
                    font-family: 'Poppins';
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    letter-spacing: -0.34px;
                    color: $text-dark;
                    width: 140px;
                }
            }
        }
    }

    .cta-card {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .shop-btn {
            position: absolute;
            padding: 12px 30px;
            background: #827C6C;
            color: white;
            border: none;
            border-radius: 50px;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 20px;

        .hero-card {
            grid-row: span 2;
            height: 100%;
        }

        .features-card {
            .features-list {
                flex-direction: row;
                gap: 100px;

                .feature-item {
                    flex-direction: column;
                    text-align: center;
                    border-bottom: none;
                    gap: 14px;

                    i {
                        font-size: 24px;
                    }

                    span {
                        width: 163px;
                    }
                }
            }
        }

        .cta-card {
            height: 100%;
        }
    }
}

.chair-section {
    font-family: $font-poppins;
    display: grid;
    padding-top: 50px;
    max-width: 1920px;
    margin: 0 auto;
    gap: 20px;

    grid-template-areas:
        "header"
        "images"
        "accordion";

    .header-content {
        grid-area: header;
    }

    .image-gallery {
        grid-area: images;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .img-main img,
        .img-sub img {
            width: 100%;
            height: auto;
            display: block;
        }

        .img-sub {
            width: 50%;
        }
    }

    .details-accordion {
        grid-area: accordion;

        details {
            border-top: 1px solid #eee;

            summary {
                list-style: none;
                padding: 15px 0;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                &::after {
                    content: '+';
                    font-weight: 300;
                }
            }

            &[open] summary::after {
                content: '-';
            }

            .content {
                padding-bottom: 20px;
                color: #666;
                font-size: 14px;
            }
        }
    }

    @media (min-width: 1024px) {
        column-gap: 60px;
        grid-template-columns: 1fr 1.5fr 0.8fr;
        grid-template-areas:
            "header images-main images-sub"
            "accordion images-main images-sub";

        .header-content {
            align-self: end;
        }

        .details-accordion {
            align-self: start;
        }

        .image-gallery {
            display: contents;

            .img-main {
                grid-area: images-main;

                img {
                    height: 700px;
                    object-fit: cover;
                }
            }

            .img-sub {
                grid-area: images-sub;
                width: 100%;

                img {
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

.services-section {
    margin-top: 100px;
    max-width: 1920px;
    background-color: #FFF9F5;
    padding-top: 32px;
    padding-inline: 0px;
    position: relative;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        .section-tagline {
            text-align: center;
            font-family: $font-poppins;
            color: #462B20;
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
        }

        .line {
            height: 1px;
            flex: 1 0 0;
            background-color: #F3EAE5;
        }
    }

    .services-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 70px;

            @media (min-width: 1024px) {
            gap: 115px;
            }

        .servive-title {
            text-align: center;
            font-family: $font-poppins;
            color: #462B20;
            font-size: 31px;
            font-weight: 400;
            line-height: 31px;
        }

        .tab-list {
            display: flex;
            // justify-content: center;
            gap: 0;
            margin-bottom: 20px;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-top: 25px;

            @media (min-width: 768px) {
                overflow-x: hidden;
                text-align: center;
                justify-content: center;
            }

            span {
                font-size: 16px;
                color: #462B20;
                padding: 0 5px;
                position: relative;
                white-space: nowrap;
                line-height: 23px;
                font-weight: 400;
                letter-spacing: 0;
                opacity: 0.6;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }

            span.active {
                opacity: 1;
            }

            span:not(:last-child)::after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 25px;
                background: #e3d5cc;
            }
        }

        .content-tab {

            p {
                color: #462B20;
                text-align: center;
                font-family: 'Inter', sans-serif;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 21px;
            }

            @media (min-width: 1024px) {
                display: flex;
                justify-content: center;
                width: 100%;

                p {
                    max-width: 618px;
                    font-size: 16px;
                    line-height: 25px;
                }
            }
        }
    }

    .image-section {
        display: none;

        @media (min-width: 1024px) {
            display: block;
            position: absolute;
        }
    }

    .image-1 {
        top: 210px;
        left: 113px;
    }
    .image-2 {
        top: 168px;
        right: 96px;
    }
    .image-3 {
        left: 169px;
        bottom: 20px;
    }
    .image-4{
        right: 242px;
        bottom: 24px;
    }
}